body{
  position: fixed;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-color: #d4a9e0;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.image {
  grid-column: 4 / -1;
  grid-row: 1;
}
/* работа с кнопками */
#body_button{
  position: absolute;
  height: 300px;
  margin: 0;
  padding: 0;
  color: #ddf;
  text-align: left;
  padding-top: 1vh;
}

  /*для плавной анимации*/
  .button_hola,
  .button_hola::before,
  .button_hola::after,
  .button_hola span,
  .button_hola span::before,
  .button_hola span::after
  {
    transition: all ease .5s;
  }
   
  .button_hola{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  /*Для подсвечивания при наведении*/ 
  .button_hola:hover
  {
    box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
  }
  #clothesButton:hover
  {
    box-shadow: 0 0 5em .5em rgba(0, 0, 3, 0.5);
  }
  
  /*Для текстовой коробочки кнопки*/ 
  .button_hola span
  {
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
  }
  
   
/*/////////////////////////////////////////*/
.slider{
  position: absolute;
  margin-top: 55%;
}

#EyeColor, #TopColor, #HairColor {
  
  -webkit-appearance: none; /*переопределение основных свойст внешнего вида ползунка*/
  /* transform: rotate(90deg); */
  width: 200%;/*ширина*/
  height: 15px; /*высота*/
  border-radius: 5px; /*скругление углов*/ 
  background: #9380c9; /*задний фон*/
  outline: none; /*граница при изменении*/
  opacity: 0.5; /*прозрачность*/ 
}
